[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
gunicorn = "*"
honcho = "*"
redis = "*"
dj-database-url = "*"
toml = "*"
django-ratelimit = "*"

[requires]
python_version = "3.7"
