[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = {extras = ["pyproject"],version = "*"}
pydocstyle = "*"
mypy = "*"
coverage = "*"
codecov = "*"
darglint = "*"

[packages]
django = "*"
gunicorn = "*"
honcho = "*"
redis = "*"
dj-database-url = "*"
toml = "*"
django-ratelimit = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
