-i https://pypi.org/simple/
alabaster==0.7.12
appdirs==1.4.4
attrs==19.3.0
babel==2.8.0
black==19.10b0
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
codecov==2.1.3
coverage==5.1
darglint==1.3.0
docutils==0.16
entrypoints==0.3
flake8-black==0.1.1
flake8-docstrings==1.5.0
flake8-isort==3.0.0
flake8-polyfill==1.0.2
flake8==3.8.2
idna==2.9
imagesize==1.2.0
isort[pyproject]==5.4.0
jinja2==3.0.0a1
markupsafe==1.1.1
mccabe==0.6.1
mypy-extensions==0.4.3
mypy==0.770
packaging==20.4
pathspec==0.8.0
pep8-naming==0.10.0
pycodestyle==2.6.0
pydocstyle==5.0.2
pyflakes==2.2.0
pygments==2.6.1
pyparsing==2.4.7
pytz==2020.1
regex==2020.5.14
requests==2.23.0
semver==2.10.1
six==1.15.0
snowballstemmer==2.0.0
sphinx-rtd-theme==0.4.3
sphinx==3.0.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
testfixtures==6.14.1
toml==0.10.1
typed-ast==1.4.1
typing-extensions==3.7.4.2
urllib3==1.25.9; python_version != '3.4'
